@font-face {
  font-family: "Dysfunctional";
  src: url("../fonts/Dysfunctional.otf");
}

* {
	font-family: Dysfunctional;
	color: #323232;
}

nav {
	position: fixed;
  background: transparent;
  z-index: 1;
}

.main-menu a:before {
	content: '';
	position: fixed;
}

.main-menu a:after {
	content: attr(data-hover);
	position: fixed;
	margin-left: 5px;
}

.main-menu a:before, .main-menu a:after {opacity: 0; visibility: hidden; position: fixed;}

.main-menu a:hover::before, .main-menu a:hover::after {opacity: 1; visibility: visible; position: fixed;}

.main-menu {
  margin-top: 30px;
}

.main-menu li {
  margin-top: 4px;
}

.main-menu, .fa {
  background: transparent;
}

.title-home {
  color: #323232;
  text-align: center;
  width: 400px;
  height: 120px;
  margin-left: 37%;
  margin-right: 37%;
  margin-top: 150px;
  position: absolute;
}

h1 a, h1 a:hover, .home-nav-list a, .social_links, .main-menu a, .main-menu a:hover {
  color: #323232;
}

a {
	color: #7B30C5;
  background: transparent;
}

a:hover, .social_links:hover {
	color: #6184E0;
}

.home-nav-list a {
  text-align: center;
  font-size: 150%;
  margin-top: 50px;
  margin-bottom: 15px;
}

.bg-image {
  background: transparent;
  bottom: 17px;
  right: 0px;
  position: absolute;
}

h1 {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 300%;
}

h2, h3, p {
	text-align: center;
  background: transparent;
}

h2 {
	padding-top: 60px;
	margin-bottom: 5%;
  font-size: 200%;
}

p {
	margin: 10% 10% 0 10%;
	font-size: 107%;
}

.page {
	height: 100vh;
  width: 100%;
  position: relative;
}

.p-two {
	margin-top: 5px;
}

a, a:hover {
  text-decoration: none;
}

div {
	position: center;
	text-align: center;
}

.social_links {
	display: inline-block;
	position: center;
	margin-top: 15px;
  margin-bottom: 15px;
}

ul {
	list-style-type: none;
	display: block ;
}

.about-wrapper {
	display: block;
	margin-right: 18%;
	margin-left: 18%;
}

.about-wrapper p {
	display: table-cell;
	padding: 50px 0px 10px 30px;
	text-align: left;
}

.torie-photo {
	width: 300px;
	float: left;
	display: table-cell;
  border-color: white;
}
